ul.social-nav.model-0
  li
    a.twitter(href='https://twitter.com/vineethtrv')
      i.fa.fa-twitter
  li
    a.facebook(href='https://www.facebook.com/vini.thekingal')
      i.fa.fa-facebook
  li
    a.google-plus(href='https://plus.google.com/u/0/109987289949504261649/posts')
      i.fa.fa-google-plus
  li
    a.linkedin
      i.fa.fa-linkedin
  li
    a.pinterest
      i.fa.fa-pinterest-p
br
ul.social-nav.model-1
  li
    a.twitter(href='https://twitter.com/vineethtrv')
      i.fa.fa-twitter
  li
    a.facebook(href='https://www.facebook.com/vini.thekingal')
      i.fa.fa-facebook
  li
    a.google-plus(href='https://plus.google.com/u/0/109987289949504261649/posts')
      i.fa.fa-google-plus
  li
    a.linkedin
      i.fa.fa-linkedin
  li
    a.pinterest
      i.fa.fa-pinterest-p
br
ul.social-nav.model-2
  li
    a.twitter(href='https://twitter.com/vineethtrv')
      i.fa.fa-twitter
  li
    a.facebook(href='https://www.facebook.com/vini.thekingal')
      i.fa.fa-facebook
  li
    a.google-plus(href='https://plus.google.com/u/0/109987289949504261649/posts')
      i.fa.fa-google-plus
  li
    a.linkedin
      i.fa.fa-linkedin
  li
    a.pinterest
      i.fa.fa-pinterest-p
br
ul.social-nav.model-3
  li
    a.twitter(href='https://twitter.com/vineethtrv')
      i.fa.fa-twitter
  li
    a.facebook(href='https://www.facebook.com/vini.thekingal')
      i.fa.fa-facebook
  li
    a.google-plus(href='https://plus.google.com/u/0/109987289949504261649/posts')
      i.fa.fa-google-plus
  li
    a.linkedin
      i.fa.fa-linkedin
  li
    a.pinterest
      i.fa.fa-pinterest-p
br
ul.social-nav.model-4
  li
    a.twitter(href='https://twitter.com/vineethtrv')
      i.fa.fa-twitter
  li
    a.facebook(href='https://www.facebook.com/vini.thekingal')
      i.fa.fa-facebook
  li
    a.google-plus(href='https://plus.google.com/u/0/109987289949504261649/posts')
      i.fa.fa-google-plus
  li
    a.linkedin
      i.fa.fa-linkedin
  li
    a.pinterest
      i.fa.fa-pinterest-p
br
ul.social-nav.model-5
  li
    a.twitter(href='https://twitter.com/vineethtrv')
      i.fa.fa-twitter
  li
    a.facebook(href='https://www.facebook.com/vini.thekingal')
      i.fa.fa-facebook
  li
    a.google-plus(href='https://plus.google.com/u/0/109987289949504261649/posts')
      i.fa.fa-google-plus
  li
    a.linkedin
      i.fa.fa-linkedin
  li
    a.pinterest
      i.fa.fa-pinterest-p
br
ul.social-nav.model-6
  li
    a.twitter(href='https://twitter.com/vineethtrv')
      i.fa.fa-twitter
  li
    a.facebook(href='https://www.facebook.com/vini.thekingal')
      i.fa.fa-facebook
  li
    a.google-plus(href='https://plus.google.com/u/0/109987289949504261649/posts')
      i.fa.fa-google-plus
  li
    a.linkedin
      i.fa.fa-linkedin
  li
    a.pinterest
      i.fa.fa-pinterest-p
br
ul.social-nav.model-7
  li
    a.twitter(href='https://twitter.com/vineethtrv')
      i.fa.fa-twitter
  li
    a.facebook(href='https://www.facebook.com/vini.thekingal')
      i.fa.fa-facebook
  li
    a.google-plus(href='https://plus.google.com/u/0/109987289949504261649/posts')
      i.fa.fa-google-plus
  li
    a.linkedin
      i.fa.fa-linkedin
  li
    a.pinterest
      i.fa.fa-pinterest-p
br
ul.social-nav.model-8
  li
    a.twitter(href='https://twitter.com/vineethtrv')
      i.fa.fa-twitter
  li
    a.facebook(href='https://www.facebook.com/vini.thekingal')
      i.fa.fa-facebook
  li
    a.google-plus(href='https://plus.google.com/u/0/109987289949504261649/posts')
      i.fa.fa-google-plus
  li
    a.linkedin
      i.fa.fa-linkedin
  li
    a.pinterest
      i.fa.fa-pinterest-p
br
ul.social-nav.model-9
  li
    a.twitter(href='https://twitter.com/vineethtrv')
      i.fa.fa-twitter
  li
    a.facebook(href='https://www.facebook.com/vini.thekingal')
      i.fa.fa-facebook
  li
    a.google-plus(href='https://plus.google.com/u/0/109987289949504261649/posts')
      i.fa.fa-google-plus
  li
    a.linkedin
      i.fa.fa-linkedin
  li
    a.pinterest
      i.fa.fa-pinterest-p
br
ul.social-nav.model-3d-0
  li
    a.twitter(href='https://twitter.com/vineethtrv')
      .front
        i.fa.fa-twitter
      .back
        i.fa.fa-twitter
  li
    a.facebook(href='https://www.facebook.com/vini.thekingal')
      .fornt
        i.fa.fa-facebook
      .back
        i.fa.fa-facebook
  li
    a.google-plus(href='https://plus.google.com/u/0/109987289949504261649/posts')
      .front
        i.fa.fa-google-plus
      .back
        i.fa.fa-google-plus
  li
    a.linkedin
      .front
        i.fa.fa-linkedin
      .back
        i.fa.fa-linkedin
  li
    a.pinterest
      .front
        i.fa.fa-pinterest-p
      .back
        i.fa.fa-pinterest-p
br
ul.social-nav.model-3d-1
  li
    a.twitter(href='https://twitter.com/vineethtrv')
      .front
        i.fa.fa-twitter
      .back
        i.fa.fa-twitter
  li
    a.facebook(href='https://www.facebook.com/vini.thekingal')
      .fornt
        i.fa.fa-facebook
      .back
        i.fa.fa-facebook
  li
    a.google-plus(href='https://plus.google.com/u/0/109987289949504261649/posts')
      .front
        i.fa.fa-google-plus
      .back
        i.fa.fa-google-plus
  li
    a.linkedin
      .front
        i.fa.fa-linkedin
      .back
        i.fa.fa-linkedin
  li
    a.pinterest
      .front
        i.fa.fa-pinterest-p
      .back
        i.fa.fa-pinterest-p
br
